

<link href="~/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/js/froala_editor.pkgd.min.js"></script>


<div id="myEditor">
    <script>
        var editor = new FroalaEditor('#myEditor');
    </script>
</div>